.container {
    padding: 1rem;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .input {
    margin-bottom: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  