.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  .login {
    margin-top: 1rem;
  }
  
  .login a {
    color: white;
    text-decoration: none;
  }
  
  .login a:hover {
    text-decoration: underline;
  }
  
  .loginButton {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .loginButton:hover {
    opacity: 0.8;
  }